@import "../_global.scss";

.appbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: $border;
    padding: $padding-md;

    &-userinfo {
        display: flex;
        flex-direction: row;
        align-items: center;

        * {
            margin-left: $padding-lg;
        }

        img {
            height: 30px;
            border-radius: 50%;
            border: $border;
        }
    }
}