@import "../_global.scss";

.layout {
    display: flex;
    flex-direction: column;

    > header {
        flex: 0 0 auto;
    }

    > main {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
}