@import "../_global.scss";

.login {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 20rem;
    max-width: 100vw;
    margin-top: $padding-xl;
    padding: $padding-xl;   
    border: $border;  
    text-align: center; 

    > h2 {
        align-self: center;
        border-bottom: $border;
    }

    button {
        width: 100%;
        color: green;
    }
}