@import "../_global.scss";

.task-card {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto; 
    border: $border;  

    &-body {
        padding: $padding-md;  

        > label {
            display: flex;
            align-items: center;
    
            input[type=checkbox] {
                margin-right: $padding-md;
            }
        }
    
        > span {
            margin-top: $padding-md;
        }
    }

    &-footer {
        border-top: $border;    
    }
}