@import "../_global.scss";

.task-card {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto; 
    border: $border;
    background: $color-background;
    border-radius: $border-radius;

    &:hover {
        background-color: $color-task-default_hover;
        border-color: $color-task-default;
        cursor: pointer;
    }

    &-body {
        display: flex;
        flex-direction: column;
        padding: $padding-md;  
        border-left: 4*$border-width $border-style $color-task-default;

        input[type=checkbox] {
            margin-right: $padding-md;
        }

        > span {
            display: flex;
            align-items: center;

            &:not(:first-child) {
                margin-top: $padding-md;
            }
        }
    }

    &.completed {
      text-decoration: line-through;
      opacity: .5;
    }
}