@import "../_global.scss";

.task-card {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    padding: $padding-md;   
    border: $border;  

    > label {
        display: flex;
        align-items: center;

        input[type=checkbox] {
            width: 20px;
            height: 20px;
            margin-right: $padding-md;
        }
    }

    > span {
        margin-top: $padding-md;
    }
}