@import "../_global.scss";

.weekview-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 18rem;
    border-right: $border;

    &-header {
        flex: 0 0 auto;
        padding: 0 $padding-lg;
        border-bottom: $border;
    }

    &-list {
        flex: 1 1 auto;
        margin: 0;
        padding: $padding-lg;
    }

    &-footer {
        flex: 0 0 auto;
    }
}