@import "../_global.scss";

.weekview-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 18rem;
    border-right: $border;

    &-header {
        flex: 0 0 auto;
        padding: 0 $padding-lg;
        font-weight: bold;
    }

    &-list {
        flex: 1 1 auto;
        margin: 0;
        padding: 0 $padding-lg $padding-lg $padding-lg;
        overflow-y: auto;

        > * {
            margin-top: $padding-lg;
        }
    }

    &-footer {
        flex: 0 0 auto;
    }
}