$color-background: #fff;
$color-background-medium: #f2f2f2;
$color-font: #000;

$padding-sm: 0.35rem;
$padding-md: 0.7rem;
$padding-lg: 1.1rem;
$padding-xl: 1.8rem;

$border-width: 1px;
$border-color: #ccc;
$border-style: solid;
$border: $border-width $border-style $border-color;