@import "../_global.scss";

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight-normal;
}

#root, .layout {
    height: 100%;
}

*:focus {
    outline: $outline;
}

h1, h2, h3, h4, h5, h6, strong, b, a, button {
    font-weight: $font-weight-bold;
}

button {
    background: $color-background-medium;
    border: none;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight-bold;
    padding: $padding-sm $padding-lg;
    cursor: pointer;

    &:hover {
        background-color: $color-background-accent;
    }
}